.divCSS
{
	width: 100%;
	height: auto;
	padding-top: 40px;
	
	
}

.imgCSS
{
	width: 100%;
	height: auto;
	
}

.captionCSS
{
	text-align: center;
	color: white;
}

.containMe
{
	display: grid;
	grid-gap: 5px;
  grid-template-columns: 33% 33% 33%;
  padding: 10px;
}

.box
{
	background-color: gray;
	border-radius: 5px;
	padding: 20px;
	margin: 3px;
	border: 3px;
}


#button
{
	color: white;
	padding: 15px 15px 15px;
	border-style: outset;
	background-color: green;
}

.button:hover
{
	background-color: lightgreen;
	display:block;
}

.button:focus
{
	border-style:inset;
}

#theDropDownButtonDiv
{
	width: 7.1%;
}

#theDropDownDiv
{
	display: none;
	border-style:outset;
	width: 100px;
	background-color: white;
	color: black;
	position:absolute;
}

div:hover #theDropDownDiv
{
	display: block;
}

a
{
	display:block;
	text-decoration: underline;
	color: SeaGreen;
	text-align: center;
}

a:hover
{
	background-color: green;
	color: yellow;
	cursor: pointer;
}

a: visited
{
	color: red;
	
}

